In [61]:
import os
import pandas as pd

indian_cities_data = pd.read_excel(os.path.expanduser('~/Documents/ISB/Term 1/DCCP/DC Group Assignment/Nasscom_Final_Data_Scraped.xlsx'))

#Data Cleanup
indian_cities_data = indian_cities_data[indian_cities_data["CIN"].str.len() == 21]

#indian_cities_data.to_excel(os.path.expanduser('~/Documents/ISB/Term 1/DCCP/DC Group Assignment/Nasscom_Final_Data_Cleaned.xlsx'))

indian_cities_data = indian_cities_data.drop_duplicates(subset="CIN",keep="first")

indian_cities_data.to_excel(os.path.expanduser('~/Documents/ISB/Term 1/DCCP/DC Group Assignment/Nasscom_Final_Data_Filtered_Duplicates.xlsx'))

                                                   Unnamed: 0
                                                        count
Industry
Agriculture                                                 1
Agriculture , Hunting And Related Service Activ...          3
Agriculture, Bfsi (Banking Financial Services A...          1
Agriculture, Chemicals, Outsourcing, Unclassifi...          1
Agriculture, Power And Energy                               1
...                                                       ...
Telecommunications                                         11
Trading                                                     7
Transport And Logistics                                     4
Unclassified Industry                                       1
Wholesale Trade And Commission Trade, Except Of...          5

[110 rows x 1 columns]